# Spacy 101

In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_lg")

In [3]:
doc = nlp(u"""This is a sentence it talks 
about potatoes, chips, America, Thousand and gold coins.""")

ents loads the entities detected in the text.

In [4]:
for token in doc.ents:
    print(token.text, token.label_ )

America GPE
Thousand CARDINAL

In [5]:
doc.vocab.strings[u"sentence"]

18108853898452662235

In [6]:
doc.vocab.strings[18108853898452662235]

'sentence'

the underscore _ after values makes it into textual form, else without it, it'll be in numbers

In [7]:
for token in doc:
    print(token.text,"---", token.lemma_,"---", token.pos_, token.tag_, token.dep_,
            token.shape_, token.is_alpha, token.is_stop  )

This --- this --- DET DT nsubj Xxxx True True
is --- be --- VERB VBZ ROOT xx True True
a --- a --- DET DT det x True True
sentence --- sentence --- NOUN NN attr xxxx True False
it --- -PRON- --- PRON PRP nsubj xx True True
talks --- talk --- VERB VBZ relcl xxxx True False

 ---
 --- SPACE _SP
 False False
about --- about --- ADP IN prep xxxx True True
potatoes --- potato --- NOUN NNS pobj xxxx True False
, --- , --- PUNCT , punct , False False
chips --- chip --- NOUN NNS conj xxxx True False
, --- , --- PUNCT , punct , False False
America --- America --- PROPN NNP conj Xxxxx True False
, --- , --- PUNCT , punct , False False
Thousand --- Thousand --- PROPN NNP conj Xxxxx True False
and --- and --- CCONJ CC cc xxx True True
gold --- gold --- NOUN NN compound xxxx True False
coins --- coin --- NOUN NNS conj xxxx True False
. --- . --- PUNCT . punct . False False

DispalCY visualizer

In [8]:
# from spacy import displacy

# displacy.serve(doc, style="ent")

In [9]:
import pandas as pd

In [10]:
resume = pd.read_json("Dataset/resume_1.json")

In [11]:
resume['Person 1'][:1]

content    Abhishek Jha\nApplication Development Associat...
Name: Person 1, dtype: object

In [12]:
a = resume['Person 3'][:1]
for iterator in a:
    print(iterator)

Afreen Jamadar
Active member of IIIT Committee in Third year

Sangli, Maharashtra - Email me on Indeed: indeed.com/r/Afreen-Jamadar/8baf379b705e37c6

I wish to use my knowledge, skills and conceptual understanding to create excellent team
environments and work consistently achieving organization objectives believes in taking initiative
and work to excellence in my work.

WORK EXPERIENCE

Active member of IIIT Committee in Third year

Cisco Networking -  Kanpur, Uttar Pradesh

organized by Techkriti IIT Kanpur and Azure Skynet.
PERSONALLITY TRAITS:
â€¢ Quick learning ability
â€¢ hard working

EDUCATION

PG-DAC

CDAC ACTS

2017

Bachelor of Engg in Information Technology

Shivaji University Kolhapur -  Kolhapur, Maharashtra

2016

SKILLS

Database (Less than 1 year), HTML (Less than 1 year), Linux. (Less than 1 year), MICROSOFT
ACCESS (Less than 1 year), MICROSOFT WINDOWS (Less than 1 year)

ADDITIONAL INFORMATION

TECHNICAL SKILLS:

â€¢ Programming Languages: C, C++, Java, .net, php.
â€¢ Web Designing: HTML, XML
â€¢ Operating Systems: Windows [â€¦] Windows Server 2003, Linux.
â€¢ Database: MS Access, MS SQL Server 2008, Oracle 10g, MySql.

https://www.indeed.com/r/Afreen-Jamadar/8baf379b705e37c6?isid=rex-download&ikw=download-top&co=IN

In [13]:
resume.columns

Index(['Person 1', 'Person 2', 'Person 3', 'Person 4', 'Person 5', 'Person 6',
       'Person 7', 'Person 8', 'Person 9', 'Person 10', 'Person 11',
       'Person 12'],
      dtype='object')

In [14]:
empty = []
for a in resume.columns:
    empty.append(resume[a][:1])

In [15]:
print(empty[1])

content    Akhil Yadav Polemaina\nHyderabad, Telangana - ...
Name: Person 2, dtype: object

In [16]:
empty

[content    Abhishek Jha\nApplication Development Associat...
 Name: Person 1, dtype: object,
 content    Akhil Yadav Polemaina\nHyderabad, Telangana - ...
 Name: Person 2, dtype: object,
 content    Afreen Jamadar\nActive member of IIIT Committe...
 Name: Person 3, dtype: object,
 content    Alok Khandai\nOperational Analyst (SQL DBA) En...
 Name: Person 4, dtype: object,
 content    Ananya Chavan\nlecturer - oracle tutorials\n\n...
 Name: Person 5, dtype: object,
 content    Anvitha Rao\nAutomation developer\n\n- Email m...
 Name: Person 6, dtype: object,
 content    arjun ks\nSenior Program coordinator - oracle ...
 Name: Person 7, dtype: object,
 content    Ashalata Bisoyi\nTransaction Processor - Oracl...
 Name: Person 8, dtype: object,
 content    Ashok Kunam\nTeam Lead - Microsoft\n\n- Email ...
 Name: Person 9, dtype: object,
 content    Asish Ratha\nSubject matter Expert - Accenture...
 Name: Person 10, dtype: object,
 content    Avin Sharma\nSenior Associate Consultant - Inf...
 Name: Person 11, dtype: object,
 content    Ayesha B\nTeam member - Oracle\n\nBangalore, K...
 Name: Person 12, dtype: object]

In [17]:
res = ""
a = resume['Person 3'][:1]
for iterator in a:
    res+=iterator

### Real Work from below this line

In [18]:
rest = nlp(res)

In [19]:
text = ""
lists = []
for token in rest:
    if token.is_stop == False:
        if token.pos_ in ['PROPN','NOUN','VERB']:
            text += token.lemma_
            text += " "
            lists.append(token.lemma_)

In [20]:
# import spacy

# nlp = spacy.load("en_core_web_lg")
# doc = nlp(u"Credit and mortgage account holders must submit their requests")
# span = doc[doc[4].left_edge.i : doc[4].right_edge.i+1]
# with doc.retokenize() as retokenizer:
#     retokenizer.merge(span)
# for token in doc:
#     print(token.text, token.pos_, token.dep_, token.head.text)

In [21]:
print(text)

Afreen Jamadar member IIIT Committee year Sangli Maharashtra email wish use knowledge skill understanding create team environment work achieve organization objective believe take initiative work excellence work work EXPERIENCE member IIIT Committee year Cisco Networking Kanpur Uttar Pradesh organize Techkriti IIT Kanpur Azure Skynet PERSONALLITY trait learning ability work EDUCATION PG DAC CDAC ACTS Bachelor Engg Information Technology Shivaji University Kolhapur Kolhapur Maharashtra SKILLS Database year HTML year Linux year MICROSOFT access year MICROSOFT WINDOWS year INFORMATION TECHNICAL SKILLS programming language C C++ Java php web designing html xml operate system Windows Windows Server Linux database MS Access MS SQL Server Oracle g MySql

In [22]:
lists

['Afreen',
 'Jamadar',
 'member',
 'IIIT',
 'Committee',
 'year',
 'Sangli',
 'Maharashtra',
 'email',
 'wish',
 'use',
 'knowledge',
 'skill',
 'understanding',
 'create',
 'team',
 'environment',
 'work',
 'achieve',
 'organization',
 'objective',
 'believe',
 'take',
 'initiative',
 'work',
 'excellence',
 'work',
 'work',
 'EXPERIENCE',
 'member',
 'IIIT',
 'Committee',
 'year',
 'Cisco',
 'Networking',
 'Kanpur',
 'Uttar',
 'Pradesh',
 'organize',
 'Techkriti',
 'IIT',
 'Kanpur',
 'Azure',
 'Skynet',
 'PERSONALLITY',
 'trait',
 'learning',
 'ability',
 'work',
 'EDUCATION',
 'PG',
 'DAC',
 'CDAC',
 'ACTS',
 'Bachelor',
 'Engg',
 'Information',
 'Technology',
 'Shivaji',
 'University',
 'Kolhapur',
 'Kolhapur',
 'Maharashtra',
 'SKILLS',
 'Database',
 'year',
 'HTML',
 'year',
 'Linux',
 'year',
 'MICROSOFT',
 'access',
 'year',
 'MICROSOFT',
 'WINDOWS',
 'year',
 'INFORMATION',
 'TECHNICAL',
 'SKILLS',
 'programming',
 'language',
 'C',
 'C++',
 'Java',
 'php',
 'web',
 'designing',
 'html',
 'xml',
 'operate',
 'system',
 'Windows',
 'Windows',
 'Server',
 'Linux',
 'database',
 'MS',
 'Access',
 'MS',
 'SQL',
 'Server',
 'Oracle',
 'g',
 'MySql']

In [23]:
doc2 = nlp(text)

In [24]:
for token in doc2.ents:
    print(token.text, token.label_)

Jamadar PERSON
IIIT Committee ORG
Sangli Maharashtra PERSON
IIIT Committee ORG
Cisco Networking Kanpur ORG
Azure Skynet PERSONALLITY ORG
Bachelor Engg Information Technology Shivaji University ORG
Kolhapur GPE
Maharashtra SKILLS Database ORG
Linux year ORG
MICROSOFT ORG
year DATE
MICROSOFT ORG
C C++ Java PRODUCT
Windows Windows Server Linux database MS Access MS SQL Server Oracle g MySql PRODUCT

In [25]:
for token in doc2.ents:
    if token.label_ in ['PRODUCT']:
        print(token.text, token.label_)

C C++ Java PRODUCT
Windows Windows Server Linux database MS Access MS SQL Server Oracle g MySql PRODUCT